body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: white;
}

.section {
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(58, 10, 126, 0.1);
  max-width: 600px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #555;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #15d442;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1ce547;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2f00ff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

li span {
  flex-grow: 1;
}

li button {
  background-color: #ff0019;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

li button:hover {
  background-color: #c82333;
}
